<div id="<%= dom_id product %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= product.brand_id %>
  </p>

</div>
